.main_light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover; /* o 'contain' */
  background-position: center; /* Centra el SVG en el contenedor */
  @media (min-width: 900px) {
    background-image: url("../../public/light-background.svg");
  }
  @media (max-width: 900px) {
    background-image: url("../../public/light-background.svg");
  }
}
.main_dark {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  background-repeat: no-repeat;
  background-size: cover; /* o 'contain' */
  background-position: center; /* Centra el SVG en el contenedor */
  @media (min-width: 900px) {
    background-image: url("../../public/dark-background.svg");
  }
  @media (max-width: 900px) {
    background-image: url("../../public/dark-background.svg");
  }
}
