.main {
  margin-top: 0px;
  background-color: #191919;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  @media (min-width: 900px) {
    background-image: url("../public/background.jpg");
  }
  @media (max-width: 900px) {
    background-image: url("../public/background-mobile.jpg");
  }
}
.main_text_container {
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  border-radius: 5px;
}

.main_text {
  color: rgba(125, 225, 125, 0.75);
  font-family: "VT323", monospace;

  text-shadow: 0 0 5px rgba(125, 225, 125, 0.5), 0 0 15px rgba(125, 250, 125, 1);
  @media (min-width: 900px) {
    font-size: 40px;
  }
  @media (max-width: 900px) {
    font-size: 20px;
  }
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "C";
  }
  2.2791%,
  25.0698% {
    content: "CO";
  }
  3.4186%,
  23.9302% {
    content: "COI";
  }
  4.5581%,
  22.7907% {
    content: "COIL";
  }

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "U";
  }
  33.0465%,
  49.0000% {
    content: "UN";
  }
  34.1860%,
  47.8605% {
    content: "UNR";
  }
  35.3256%,
  46.7209% {
    content: "UNRN";
  }
  54.6977%,
  75.2093% {
    content: "";
  }
  55.8372%,
  74.0698% {
    content: "P";
  }
  56.9767%,
  72.9302% {
    content: "PU";
  }
  58.1163%,
  71.7907% {
    content: "PUC";
  }
  59.2558%,
  70.6512% {
    content: "PUCP";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    99.99% {
      content: "UNRN";
    }
    33.33% {
      content: "PUCP";
    }
    66.66% {
      content: "COIL";
    }
  }

  .typewriter::before {
    content: "UNRN";
    animation: sequencePopup 12s linear infinite;
  }
}
