.header {
  width: 100%;
  background: rgba(255, 255, 255, 0.34);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  position: absolute;
  @media (min-width: 900px) {
    height: 98px;
  }
  @media (max-width: 900px) {
    height: 82px;
  }
}
.logo {
  width: 100%;
  height: auto;
  padding: 10px;
  @media (min-width: 900px) {
    max-width: 200px;
  }
  @media (max-width: 900px) {
    max-width: 150px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (min-width: 900px) {
    padding: 10px 30px;
  }
  @media (max-width: 900px) {
    padding: 10px 20px;
  }
}
